@import url('https://fonts.googleapis.com/css2?family=Acme&family=Agbalumo&family=Archivo+Narrow:ital@1&family=Edu+TAS+Beginner:wght@500&family=Signika+Negative:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
}